
@{
    Layout = "~/Views/Shared/Layout/_ContentLayout.cshtml";
    ViewBag.RouteMap = "玩家记录";
    M_LoginUser loginUser = WebHelper.GetLoginInfo();
}
@section include_res{
    <script>
        $(function () {
            // 加载指定的模块
                easyloader.load(['textbox', 'linkbutton', 'datagrid', 'messager'], function () {
                //适应窗口大小变化
                $(window).resize(function () {
                    if ($('body').data('grid-init')) {
                        setGridSize();
                    }
                });
                //初始化插件
                pluginInit();
                //初始化查询
                queryData();
            });
        })
        //重置表格大小
        function setGridSize(param) {
            var w = $(window).width() - 8;
            var h = $(window).height() - 78;
            resizeGrid('tb_UserRecords', 'auto', h);
        }
        //查询数据
        function queryData() {
            var para = $("#frm_srch").serializeObject();
            bindGridData(para);
        }
        //绑定表格数据
        function bindGridData(para) {
            if (!$('body').data('grid-init')) {
                $('#tb_UserRecords').datagrid({
                    url: "/Game/UserRecord/GetUserRecords",
                    queryParams: $.extend({}, para),
                    pagination: true,
                    fitColumns: true,
                    singleSelect: true,
                    striped: true,
                    rownumbers: true,
                    height: 768,
                    pageSize: 20,
                    pageList: [10, 20, 50],
                    idField: 'USER',
                    onBeforeLoad: setGridSize,
                    onLoadSuccess: onLoaded
                });
            } else {
                $('#tb_UserRecords').datagrid('load', para);
            }
        }
        function isGameRec(opt) {
            return opt == 2 || opt == 3 || opt == 7 || opt == 8;
        }
        function fmtContents(value, rowData, rowIndex) {
            if (rowData.OPT == 0 || rowData.OPT == 1)
                return getRechargeExchageMsg(rowData);
            if (isGameRec(rowData.OPT))
                return getLoginMgs(rowData);
            return '--';
        }
        function getRechargeExchageMsg(rowData) {
            var optStr = '';
            if (rowData.OPT == 0)
                optStr = '充值后';
            else if (rowData.OPT == 1)
                optStr = '兑换后';

            return '用户[ ' + rowData.UserID + ' ]' + optStr + '，余额：' + top.goldFormat(rowData.COINS);
        }
        function getLoginMgs(rowData) {
            var isEnter = (rowData.OPT == 2 || rowData.OPT == 8);
            if (isEnter) return '进入[ ' + rowData.GameName + ' ]';
            return '本次盈亏：' + fmtWinLoss(rowData.SCORE, rowData);
        }

        function fmtTableId(value, rowData, rowIndex) {
            if (!isGameRec(rowData.OPT)) return '--';
            return (value + 1) + '号桌子';
        }
        function fmtSeatId(value, rowData, rowIndex) {
            if (!isGameRec(rowData.OPT)) return '--';
            return (value + 1) + '号位置';
        }
        function fmtBet(value, rowData, rowIndex) {
            if (!isGameRec(rowData.OPT)) return '--';
            return top.goldFormat(value || 0);
        }
        function fmtWinLoss(value, rowData, rowIndex) {
            if (!isGameRec(rowData.OPT)) return '--';
            var v = value || 0;
            var color = v > 0 ? '#2e8b57' : (v < 0 ? '#c0392b' : '#666');
            return '<span style="color:' + color + ';">' + top.goldFormat(v) + '</span>';
        }
        function clearRecords() {
            $.messager.confirm('确认', '确定要清空全部玩家记录吗？此操作不可恢复！', function (r) {
                if (!r) return;
                $.post('/Game/UserRecord/ClearRecords', {}, function (res) {
                    if (res.code === 1) {
                        $.messager.alert('提示', res.msg, 'info', function () { queryData(); });
                    } else {
                        $.messager.alert('提示', res.msg, 'error');
                    }
                });
            });
        }
    </script>
}
@*查询条件*@
<form id="frm_srch">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="titleQueBg" style="height:40px;">
        <tr>
            <td>
                <div class="left Lpd5">
                    用户账号
                    <input type="text" class="easyui-textbox" name="ID" />
                </div>
                <div class="left Lpd5">
                    时间
                    <input type="text" class="easyui-datebox" name="TIME" value="return GetDate()" />
                </div>
                <div class="left Lmg10">
                    <a href="javascript:void(0);" class="easyui-linkbutton" onclick="queryData();" data-options="plain:true,iconCls:'icon-search'">查找</a>
                </div>
                @if (loginUser != null && loginUser.UserPriv == 0)
                {
                <div class="left Lmg10">
                    <a href="javascript:void(0);" class="easyui-linkbutton" onclick="clearRecords();" data-options="plain:true,iconCls:'icon-remove'">清理记录</a>
                </div>
                }
            </td>
        </tr>
    </table>
</form>

@*记录的信息*@
<table id="tb_UserRecords">
    <thead>
        <tr>
            <th field="UserID" width="85">用户账号</th>
            <th field="REC_TIME_Str" width="130">时间</th>
            <th field="GameName" width="130">游戏</th>
            <th field="TABLE_ID" width="130" formatter="fmtTableId">桌台号</th>
            <th field="SEAT_ID" width="130" formatter="fmtSeatId">位置号</th>
            <th field="OPT_COINS" width="130" formatter="fmtBet">下注</th>
            <th field="SCORE" width="130" formatter="fmtWinLoss">得分</th>
            <th field="Contents" width="600" formatter="fmtContents">记录内容</th>
        </tr>
    </thead>
</table>
