.icon { width: 16px; height: 16px; }
.icon-blank { background: url('/Content/easyui/themes/icons/blank.gif') no-repeat center center; }
.icon-add { background: url('/Content/easyui/themes/icons/edit_add.png') no-repeat center center; }
.icon-edit { background: url('/Content/easyui/themes/icons/pencil.png') no-repeat center center; }
.icon-clear { background: url('/Content/easyui/themes/icons/clear.png') no-repeat center center; }
.icon-remove { background: url('/Content/easyui/themes/icons/edit_remove.png') no-repeat center center; }
.icon-save { background: url('/Content/easyui/themes/icons/filesave.png') no-repeat center center; }
.icon-cut { background: url('/Content/easyui/themes/icons/cut.png') no-repeat center center; }
.icon-ok { background: url('/Content/easyui/themes/icons/ok.png') no-repeat center center; }
.icon-no { background: url('/Content/easyui/themes/icons/no.png') no-repeat center center; }
.icon-cancel { background: url('/Content/easyui/themes/icons/cancel.png') no-repeat center center; }
.icon-reload { background: url('/Content/easyui/themes/icons/reload.png') no-repeat center center; }
.icon-search { background: url('/Content/easyui/themes/icons/search.png') no-repeat center center; }
.icon-print { background: url('/Content/easyui/themes/icons/print.png') no-repeat center center; }
.icon-help { background: url('/Content/easyui/themes/icons/help.png') no-repeat center center; }
.icon-undo { background: url('/Content/easyui/themes/icons/undo.png') no-repeat center center; }
.icon-redo { background: url('/Content/easyui/themes/icons/redo.png') no-repeat center center; }
.icon-back { background: url('/Content/easyui/themes/icons/back.png') no-repeat center center; }
.icon-sum { background: url('/Content/easyui/themes/icons/sum.png') no-repeat center center; }
.icon-tip { background: url('/Content/easyui/themes/icons/tip.png') no-repeat center center; }
.icon-filter { background: url('/Content/easyui/themes/icons/filter.png') no-repeat center center; }
.icon-man { background: url('/Content/easyui/themes/icons/man.png') no-repeat center center; }
.icon-lock { background: url('/Content/easyui/themes/icons/lock.png') no-repeat center center; }
.icon-more { background: url('/Content/easyui/themes/icons/more.png') no-repeat center center; }
/*****************************************************************************************************************/
.icon-mini-add { background: url('/Content/easyui/themes/icons/mini_add.png') no-repeat center center; }
.icon-mini-edit { background: url('/Content/easyui/themes/icons/mini_edit.png') no-repeat center center; }
.icon-mini-refresh { background: url('/Content/easyui/themes/icons/mini_refresh.png') no-repeat center center; }
/*****************************************************************************************************************/
.icon-large-picture { background: url('/Content/easyui/themes/icons/large_picture.png') no-repeat center center; }
.icon-large-clipart { background: url('/Content/easyui/themes/icons/large_clipart.png') no-repeat center center; }
.icon-large-shapes { background: url('/Content/easyui/themes/icons/large_shapes.png') no-repeat center center; }
.icon-large-smartart { background: url('/Content/easyui/themes/icons/large_smartart.png') no-repeat center center; }
.icon-large-chart { background: url('/Content/easyui/themes/icons/large_chart.png') no-repeat center center; }
/*****************************************************************************************************************/
.icon-user_add { background: url('/Content/easyui/themes/icons/user_add.png') no-repeat center center; }
.icon-user_red { background: url('/Content/easyui/themes/icons/user_red.png') no-repeat center center; }
.icon-user_suit { background: url('/Content/easyui/themes/icons/user_suit.png') no-repeat center center; }
.icon-user_edit { background: url('/Content/easyui/themes/icons/user_edit.png') no-repeat center center; }
.icon-erase { background: url('/Content/easyui/themes/icons/erase.png') no-repeat center center; }
.icon-check_no { background: url('/Content/easyui/themes/icons/check.png') no-repeat 0px 0px; }
.icon-check_yes { background: url('/Content/easyui/themes/icons/check.png') no-repeat -16px 0px; }
.icon-comment_add { background: url('/Content/easyui/themes/icons/comment_add.png') no-repeat center center; }
.icon-page_add { background: url('/Content/easyui/themes/icons/page_add.png') no-repeat center center; }
.icon-page_edit { background: url('/Content/easyui/themes/icons/page_edit.png') no-repeat center center; }
.icon-chart_curve { background: url('/Content/easyui/themes/icons/chart_curve.png') no-repeat center center; }
.icon-computer { background: url('/Content/easyui/themes/icons/computer.png') no-repeat center center; }
.icon-tree_folder { background: url('/Content/easyui/themes/icons/tree_folder.gif') no-repeat center center; }
.icon-brush { background: url('/Content/easyui/themes/icons/brush.png') no-repeat center center; }
.icon-user_cross { background: url('/Content/easyui/themes/icons/user_cross.png') no-repeat center center; }