<fieldset>
    <legend>系统设定</legend>
    <div style="height:44px;padding:5px 5px 5px 225px;">
        <a href="javascript:void(0);" class="easyui-linkbutton Lmg10" onclick="reboot()" data-options="plain:true,iconCls:'icon-reload'">重启服务器</a>
        <a href="javascript:void(0);" class="easyui-linkbutton Lpd10" onclick="shutDown()" data-options="plain:true,iconCls:'icon-no'">关闭服务器</a>
    </div>
</fieldset>