<div id="type_3" class="hide">
    <fieldset>
        <legend>游戏账目</legend>
        <form>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <input type="text" class="easyui-numberbox w_220" name="Stock" data-options="label:'库存：',labelAlign:'right'" />
                    </td>
                    @*<td>
                        <input type="text" class="easyui-numberbox w_220" name="LargeJackpot" data-options="label:'大段奖池：',labelAlign:'right'" />
                    </td>
                    <td>
                        <input type="text" class="easyui-numberbox w_220" name="MiniJackpot" data-options="label:'中段奖池：',labelAlign:'right'" />
                    </td>
                    <td>
                        <input type="text" class="easyui-numberbox w_220" name="MidJackpot" data-options="label:'小段奖池：',labelAlign:'right'" />
                    </td>*@
                </tr>
            </table>
        </form>
    </fieldset>
</div>
