<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--8.129.72.227-->
    <!--<add name="DbConnString" connectionString="Data Source=|DataDirectory|\Data.db" providerName="System.Data.SQLite.EF6" />-->
    <!-- <add name="DbConnString" connectionString="Server=localhost;Port=3306;Database=yyt_game;Uid=root;Pwd=ygvILQ7SpW83ob2wB4Rn;character set=utf8" providerName="MySql.Data.MySqlClient"/> -->
    <add name="DbConnString" connectionString="Server=localhost;Port=3306;Database=mth;Uid=root;Pwd=123456;CharSet=utf8mb4;SslMode=None" providerName="MySql.Data.MySqlClient"/>
    <!-- <add name="DbConnString" connectionString="Server=localhost;Port=3306;Database=yyt_game;Uid=root;Pwd=ygvILQ7SpW83ob2wB4Rn;character set=utf8;SslMode=None" providerName="MySql.Data.MySqlClient"/> -->
  </connectionStrings>
  <appSettings>
    <!-- 调试日志开关 0关闭 1开启-->
    <add key="logSwitch" value="1"/>
    <!-- 定时任务时间间隔（单位：秒） -->
    <add key="Timer" value="60"/>
    <!-- 验证码Key -->
    <add key="ValideCodeKey" value="P.p~·ta9"/>
    <!-- 登录超时时间 单位:分钟 -->
    <add key="LoginTimeOut" value="30"/>
    <!-- Web 程序版本号 -->
    <add key="WebVer" value="1.0.3"/>
    <!-- 数据库类型 0:SqlServer 1:MySql 3:SQLite 4:Oracle-->
    <add key="DbType" value="1"/>
    <!-- 充值类型 0通过账号充值  1通过平台唯一ID充值 -->
    <add key="RechargeType" value="0"/>
    <!-- Pipe Server -->
    <add key="serverName" value="."/>
    <add key="pipeName" value="mynamedpipe"/>
    <!-- 记录数据库 -->
    <add key="RecordDbPath" value="C:\Users\Administrator\Proj\"/>
    <!-- 平台的域名端口 -->
    <add key="WebHost" value="http://www.dyj.wang"/>
    <!-- 客户端下载地址 -->
    <add key="IOS_Url" value="https://www.tzdfj.cn/yhyl.plist"/>
    <add key="Andriod_Url" value="http://www.scuyco.top:8080/Upload/yhyl.apk"/>
    <add key="PC_Url" value="http://www.scuyco.top:8080/Upload/yhyl.msi"/>
    <!-- 下载页面标题 -->
    <add key="DownloadTitle" value="DYJ GAME"/>
    <!-- 是否是真金  0不是  1是-->
    <add key="IsRMB" value="0"/>
    <!-- 真金兑换率  只有在IsRMB=1时,此项才有用(至少100，数据库是整数类型字段) -->
    <add key="ExchangeRate" value="100"/>
    <!--支付接口-->
    <add key="payUrl" value="http://39.100.90.86/Pay/DoPay"/>
    <!--商户id-->
    <add key="shop_id" value="75181013174736"/>
    <!--商户key-->
    <add key="shop_key" value="iaApbce3z7jLRIvSTVjsWo0swnPmj4he"/>
    <!--支付类型-->
    <add key="pay_source" value="alipay"/>
    <!--跳转URL-->
    <add key="frontUrl" value=""/>
    <!--回调URL-->
    <add key="notify_url" value="/api/PayOrderNotify"/>
    <!--支付接口-->
    <add key="X2payUrl" value="http://akt8.api.jd.gxmye.com/pay/"/>
    <add key="X2DpayUrl" value="http://akt8.api.jd.gxmye.com/paid/"/>
    <!--商户id-->
    <add key="X2shop_id" value="87180518"/>
    <!--商户key-->
    <add key="X2shop_key" value="2E5B10A5EFEE43CBDD17BDE8B2D2872D"/>
    <!--回调URL-->
    <add key="X2notify_url" value=""/>
    <add key="jiaxincloudURL" value="https://web.jiaxincloud.com/onekey.html?id=bgkwdwz3ctvnyg"/>
    <add key="appName" value="jxrjkfg348"/>
    <add key="appChannel" value="20005"/>
    <add key="admin" value="admin1"/>
    <!-- 禁用VS BrowserLink -->
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!-- 路由调试开关 -->
    <add key="RouteDebugger:Enabled" value="false"/>
    <!-- 视讯创建会员接口url -->
    <add key="registerUrl" value="https://api.agbbin.com/v1/user/register"/>
    <!-- 视讯查询会员游戏平台余额接口url -->
    <add key="balanceUrl" value="https://api.agbbin.com/v1/user/balance"/>
    <!-- 视讯查询会员游戏全部平台余额接口url -->
    <add key="allbalanceUrl" value="https://api.agbbin.com/v1/user/all-balance"/>
    <!-- 视讯查询商户全部平台额度接口url -->
    <add key="creditUrl" value="https://api.agbbin.com/v1/user/all-credit"/>
    <!-- 视讯登录获取游戏链接地址接口url -->
    <add key="loginUrl" value="https://api.agbbin.com/v1/user/login"/>
    <!-- 视讯获取单个平台游戏记录 (详细字段记录)接口url -->
    <add key="recordUrl" value="https://api.agbbin.com/v1/user/record"/>
    <!-- 视讯一键转出全部平台额度接口url -->
    <add key="transallUrl" value="https://api.agbbin.com/v1/user/trans-all"/>
    <add key="transUrl" value="https://api.agbbin.com/v1/wallet/trans"/>
    <add key="creditlUrl" value="https://api.agbbin.com/v1/user/all-credit"/>
    <add key="api_account" value="2f56106a9ae221243ef6f2723525e22d"/>
    <add key="secretKey" value="bgs983VWP791Qwl24yX12KPEmS3U4x36"/>
    <add key="SN" value="tqk"/>
    <add key="walletType" value="2"/>
    <add key="UploadPath" value="D:\Uploads"/>
    <!-- 加密货币url -->
    <add key="Cryptocurrency" value="TJRLnFi5gRoyrm4BV5opaF1Ehwb1L1VYEt"/>
    <!-- 代收  充值支付接口url -->
    <add key="transactionUrl" value="https://tianciv990901.com/api/transaction"/>
    <!-- 代收  回调接口url -->
    <add key="PayOrderNotify" value="http://175.178.196.75:8081/api/PayOrderNotify"/>
    <!-- 代付  玩家提现接口url -->
    <add key="paymentUrl" value="https://tianciv990901.com/api/payment"/>
    <!-- 代付  回调接口url -->
    <add key="DPayOrderNotify" value="http://175.178.196.75:8081/api/DPayOrderNotify"/>
    <add key="api_token" value="xo3eqP6eiQTvsAzb7Yfy3FC9KpKirGqzlkAbKh4cCLHQOTahtYYnFl01CSUM"/>
    <add key="notify_token" value="a0ruI9gNSiQYk1w62OJtUkspGbnUYb5XtLpqTlCwZI4amj1p0N84VrGYj7Ow"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <!--IIS 5 和 IIS 6 中文件上传大小限制设置-->
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647"/>
    <!--默认中文版本-->
    <!--<globalization culture="auto" uiCulture="auto"/>-->
    <!--越南语版本-->
    <!--<globalization uiCulture="en-US"/>-->
    <!--英文版本-->
    <!--<globalization uiCulture="en"/>-->
    <!--发布时候开启-->
    <authentication mode="None"/>
    <!--<identity impersonate="true" userName="Administrator" password="XGV3EJLdA2zxRkq19rb4" />-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.8.8.0" newVersion="6.8.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.6.1.0" newVersion="3.6.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.8.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="FixUserLanguagesModule" type="YYT.Web.App_Code.FixUserLanguagesModule"/>
    </modules>
    <!-- 静态资源配置 -->
    <!--<staticContent>
      <remove fileExtension=".svg" />
      <remove fileExtension=".otf" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".ttf" />
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>

      <remove fileExtension=".apk" />
      <remove fileExtension=".plist" />
      <remove fileExtension=".msi" />

      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-truetype" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />

      <mimeMap fileExtension=".apk" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".plist" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".msi" mimeType="application/octet-stream" />
    </staticContent>-->
    <security>
      <requestFiltering>
        <!--IIS 7 中文件上传大小限制-->
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
</configuration>