<?xml version="1.0" encoding="utf-8" ?>
<root>
	<!-- 服务器消息 -->
	<rows key="SRV_MSG">
		<row key="LKOK" value="1" text="玩家金币充值、兑换操作成功。"/>
		<row key="LKER" value="-1" text="服务器内部错误。"/>
		<row key="LKOL" value="-2" text="玩家正在游戏中不能进行充值。"/>
		<row key="PAOK" value="1" text="设定机台参数成功。"/>
		<row key="PAER" value="-2" text="设定机台参数失败。"/>
		<row key="RBOK" value="1" text="服务器重启操作成功。"/>
		<row key="SDOK" value="1" text="服务器关机操作成功。"/>
		<row key="UCOK" value="1" text="参数设定已生效。"/>
		<row key="UCER" value="-1" text="服务器内部错误。"/>
		<row key="UCNL" value="-2" text="设定成功！玩家现在不在线，玩家下次登陆后生效。"/>
		<row key="RPOK" value="1" text="房间设定成功。"/>
		<row key="RNOK" value="1" text="操作成功。"/>
		<row key="GMOK" value="1" text="切换成功。"/>
		<row key="KBOK" value="1" text="开启成功。"/>
		<row key="TCOK" value="1" text="桌台配置热更新成功。"/>
		<row key="TCER" value="-2" text="桌台配置热更新失败。"/>
	</rows>
	<!-- 服务器指令 -->
	<rows key="SRV_DATA">
		<row key="LK" value="LK{0}" text="锁定用户指令。"/>
		<row key="UL" value="UL{0}" text="解锁用户指令。"/>
		<row key="UC" value="UC{0}" text="机率控制。"/>
		<row key="RN" value="RN{0}" text="服务器重启。"/>
		<row key="SD" value="SD" text="服务器关机。"/>
		<row key="PA" value="PA{0}" text="服务更新机台参数指令。"/>
		<row key="GA" value="GA{0}" text="获取游戏库存。"/>
		<row key="PR" value="PR{0}" text="鱼机房间参数刷新。"/>
		<row key="QU" value="QU{0}" text="查询用户实时信息。"/>
		<row key="QA" value="QA" text="查询所有在线用户。"/>
		<row key="KU" value="KU{0}" text="踢除用户。"/>
		<row key="CA" value="CA{0}" text="清除桌子库存。"/>
		<row key="RP" value="RP{0}" text="房间参数刷新。"/>
		<row key="GM" value="GM{0}" text="切换模式。"/>
		<row key="KB" value="KB{0}" text="开大赔小。"/>
	</rows>
</root>
